
// main titles, text, social icon
$primary_dark: #313131;
$primary_white: #F7F7F7;

// lite links
$primary_light: #4E4E4E;

// labels
$label_blue: #2575FC;

// backgrounds
$auxledger_bg: #001F3A;
$body_bg_gradient: linear-gradient(359.97deg, #05172B 0%, #001F3A 35.14%, #083760 100%);