// lato lite
@font-face {
    font-family: 'Lato_Light';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}

// Lato_Regular
@font-face {
    font-family: 'Lato_Regular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

// Lato_Bold
@font-face {
    font-family: 'Lato_Bold';
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

// Lato_Black
@font-face {
    font-family: 'Lato_Black';
    src: url('../fonts/Lato-Black.ttf') format('truetype');
}