@font-face {
  font-family: 'Lato_Thin';
  src: url("../fonts/Lato-Hairline.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato_Light';
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato_Regular';
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato_Bold';
  src: url("../fonts/Lato-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato_Black';
  src: url("../fonts/Lato-Black.ttf") format("truetype"); }
a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.header_dark {
  font-family: 'Lato_Black';
  font-size: 30px;
  color: #313131; }

.header_white {
  font-family: 'Lato_Black';
  font-size: 30px;
  color: #F7F7F7; }

.sub_header_dark {
  font-family: 'Lato_Light';
  font-size: 22px;
  color: #313131; }

.sub_header_white {
  font-family: 'Lato_Light';
  font-size: 22px;
  color: #F7F7F7; }

.sub_header_blue {
  font-family: 'Lato_Light';
  font-size: 22px;
  color: #2575FC; }

.body_dark {
  font-size: 14px;
  font-family: 'Lato_Regular';
  color: #313131; }

.body_white, .existing_nodes .nw_name {
  font-size: 14px;
  font-family: 'Lato_Regular';
  color: #F7F7F7; }

.body_small {
  font-size: 11px;
  font-family: 'Lato_Regular';
  color: #313131; }

.body_small_white {
  font-size: 11px;
  font-family: 'Lato_Regular';
  color: #F7F7F7; }

.label_dark {
  font-family: 'Lato_Light';
  font-size: 18px;
  color: #313131; }

.label_white, .bottom_sub_links .app_version {
  font-family: 'Lato_Light';
  font-size: 18px;
  color: #F7F7F7; }

.label_thin_white {
  font-family: 'Lato_Thin';
  font-size: 18px;
  color: #F7F7F7; }

.sub_label_dark {
  font-size: 11px;
  font-family: 'Lato_Regular';
  color: #313131; }

.sub_label_white {
  font-size: 11px;
  font-family: 'Lato_Regular';
  color: #F7F7F7; }

.link_dark {
  font-family: 'Lato_Light';
  font-size: 13px;
  color: #313131; }

.link_white, .side_ul li {
  font-family: 'Lato_Light';
  font-size: 13px;
  color: #F7F7F7; }

.bold_label {
  font-family: 'Lato_Bold';
  font-size: 14px;
  color: #F7F7F7; }

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(359.97deg, #05172B 0%, #001F3A 35.14%, #083760 100%);
  background-repeat: no-repeat; }

* {
  box-sizing: border-box !important; }

a {
  text-decoration: none; }
  a:hover {
    color: #2575FC; }

.relative {
  position: relative; }

.main_wrapper {
  position: relative;
  float: right;
  width: 85%;
  width: calc(100% - 185px);
  min-height: 85vh;
  min-height: calc(90vh - 40px);
  margin-top: 75px;
  padding: 0px 15px; }
  .main_wrapper.white {
    background: #F7F7F7;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 8px 15px -4px rgba(0, 0, 0, 0.1);
    padding: 30px 60px;
    padding-right: 15px; }

.form-control:focus {
  box-shadow: none; }

.sidebar {
  position: fixed;
  width: 185px;
  height: 100vh;
  top: 0;
  left: 0;
  color: #F7F7F7; }

.logo_div {
  width: 140px;
  display: block;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 60px; }

.side_ul {
  list-style: none;
  padding: 0px; }
  .side_ul a {
    color: #F7F7F7;
    transition: all 0.2s ease; }
    .side_ul a:hover {
      color: #2575FC; }
  .side_ul li {
    padding-left: 30px;
    height: 30px;
    display: block;
    display: flex;
    align-items: center; }
    .side_ul li.active {
      font-family: 'Lato_Bold';
      background-color: #021D37;
      border-left: solid 4px #E77638; }
    .side_ul li.category {
      font-family: 'Lato_Bold';
      font-size: 12px;
      margin-top: 25px;
      margin-bottom: 5px; }

.bottom_sub_links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 30px; }
  .bottom_sub_links .bottom_links {
    font-size: 12px;
    color: rgba(247, 247, 247, 0.56);
    font-family: 'Lato_Bold';
    display: block;
    margin-bottom: 11px; }
  .bottom_sub_links .app_version {
    color: rgba(247, 247, 247, 0.56);
    margin-top: 10px;
    margin-bottom: 30px; }

.app_quit_btn {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  display: block;
  z-index: 10;
  cursor: pointer; }

.intro_screen_link {
  position: relative;
  display: flex;
  width: 230px;
  min-height: 105px;
  color: #F7F7F7;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
  margin-right: 25px; }
  .intro_screen_link:hover {
    background: rgba(0, 0, 0, 0.5); }
  .intro_screen_link .plus_icon {
    width: 25px;
    margin-bottom: 15px;
    display: block; }
  .intro_screen_link.existing_nodes {
    background-color: #083760;
    border-radius: 4px;
    box-shadow: 0 8px 15px -4px rgba(0, 0, 0, 0.1);
    display: block;
    padding: 25px 20px;
    transition: all 0.3s;
    position: relative; }
    .intro_screen_link.existing_nodes:hover {
      background: rgba(8, 55, 96, 0.8); }

.intro_icons_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px; }
  .intro_icons_wrap .intro_icon {
    width: 40px;
    margin: 0px 15px; }

.intro_right_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .intro_right_wrap p {
    width: 70%;
    margin-bottom: 0px; }

.nodes_wrap {
  display: flex;
  flex-wrap: wrap; }

.existing_nodes {
  position: relative; }
  .existing_nodes p {
    margin-bottom: 0px; }
  .existing_nodes .status_label {
    font-size: 10px; }
    .existing_nodes .status_label.active {
      color: #2DB45F; }
    .existing_nodes .status_label.standby {
      color: #F5933B; }

.edit_nodes {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  width: 10px;
  display: block;
  cursor: pointer; }

.cust_form_group {
  margin-bottom: 30px; }
  .cust_form_group label {
    color: #313131;
    font-size: 10px;
    font-family: 'Lato_Bold';
    padding-left: 13px;
    margin-bottom: 0px;
    position: relative; }
  .cust_form_group input {
    border: none;
    background: transparent !important;
    border-radius: 0px !important;
    border-bottom: solid 2px #313131;
    padding-top: 0px; }
  .cust_form_group ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #656565;
    font-family: 'Lato_Bold';
    font-size: 10px;
    opacity: 0.35; }
  .cust_form_group ::-moz-placeholder {
    /* Firefox 19+ */
    color: #656565;
    font-family: 'Lato_Bold';
    font-size: 10px;
    opacity: 0.35; }
  .cust_form_group :-ms-input-placeholder {
    /* IE 10+ */
    color: #656565;
    font-family: 'Lato_Bold';
    font-size: 10px;
    opacity: 0.35; }
  .cust_form_group :-moz-placeholder {
    /* Firefox 18- */
    color: #656565;
    font-family: 'Lato_Bold';
    font-size: 10px;
    opacity: 0.35; }
  .cust_form_group.disabled {
    opacity: 0.3; }

.cust_btn {
  background: linear-gradient(to left, #C63232 0%, #F5933B 100%);
  background-blend-mode: multiply;
  min-width: 150px;
  border-radius: 3px;
  color: #fff;
  background-size: cover;
  margin-left: 11px;
  text-align: center;
  font-size: 11px;
  padding: 7px 20px; }
  .cust_btn.disabled {
    background: linear-gradient(to left, #05172B 0%, #001F3A 35.14%, #174063 100%);
    opacity: 0.3; }

.error {
  color: #C63232;
  font-family: 'Lato_Regular';
  font-size: 10px;
  position: relative;
  top: -8px;
  left: 3px; }

.auxnet_conneted {
  color: #2DB45F;
  font-size: 10px;
  font-family: 'Lato_Bold';
  margin-left: 12px; }

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
  background: linear-gradient(to left, #C63232 0%, #F5933B 100%); }

.custom-select {
  position: relative;
  display: inline-block;
  height: auto;
  border: 0;
  background: transparent;
  padding: 0px; }

.custom-select-trigger {
  position: relative;
  display: block;
  padding: 0 84px 0 22px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 40px;
  background: #07355E;
  border-radius: 0px;
  cursor: pointer; }

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0; }

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%); }

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px); }

.custom-select.opened .custom-options {
  border-radius: 0px;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0); }

.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .2s ease-in-out; }

.option-hover:before {
  background: #f9f9f9; }

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 35px;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0; }

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px; }

.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9; }

.dd_wrap {
  position: relative;
  z-index: 10; }

/*# sourceMappingURL=main.css.map */
